* {
    background-color: #fbd4f3;
}

.title,
.headings,
.text,
.list {
    color: rgb(185, 73, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
    color:rgb(113, 44, 67);
    text-decoration: none;
}

.image {
    height: auto;
    width: 600px;
}