* {
    background-color: #fbd4f3;
}

.title,
.text {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: palevioletred;
}

.title {
    font-size: 50px;
}

.text {
    font-size: 25px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

div {
    text-align: center;
}

.recipe {
    color: white;
    background-color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    display:inline-block;
}
